@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow:hidden;
}

.customScroll::-webkit-scrollbar {
  width: 0.5rem;
}

.customScroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.customScroll::-webkit-scrollbar-thumb {
  background: #FF7900;
  border-radius: 10px;
}